@import '../../variables.scss';

.menu__section__item {
	display: grid;
	margin: 0 0.5rem 0.5rem;
	padding-top: 0.5rem;
	border-top: 1px solid #ddd;

	grid-template-columns: 1fr auto 2rem;
	grid-gap: 0.5rem 0.25rem;
	grid-template-areas:
	"name price button"
	"desc desc ."
	"confirm confirm confirm";
	
	&-name {
		grid-area: name;
		font-family: 'Open Sans', sans-serif;
		font-size: medium;
		font-weight: bold;
	}
	&-description {
		grid-area: desc;
		font-family: 'Open Sans', sans-serif;
		font-size: small;
	}
	&-price {
		grid-area: price;
		
		&-value,
		&-currency {
			font-family: 'Open Sans', sans-serif;
			font-size: small;
		}
	}
	
	&-edit,
	&-add,
	&-remove,
	&-move {
		grid-area: button;
		color: $brand2;
	}
	&-confirm {
		grid-area: confirm;
		color: $brand2;
		margin: 0.5rem;
	}
}
