@import '../../variables.scss';

.menu {
	grid-area: main;
	background-color: $light;
	color: $dark;
	
	&--flex {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&-header {
		padding: 0.5rem;
		display: grid;
		grid-template-columns: 2rem 1fr 2rem;
		grid-template-areas:
			"edit			name		."
			".				desc		."
			"confirm	confirm confirm";
	}
	&-footer {
		padding: 0.5rem;
		display: grid;
		grid-template-columns: 2rem 1fr 2rem;
		grid-template-areas:
			"remove . add";
	}
	
	&-name {
		grid-area: name;
		text-align: center;
		font-family: 'Open Sans', sans-serif;
		font-size: x-large;
		font-weight: bold;
	}
	&-description {
		grid-area: desc;
		text-align: center;
		font-family: 'Open Sans', sans-serif;
		font-size: small;
	}

	&-edit {
		grid-area: edit;
		color: $brand2;
	}
	&-remove {
		grid-area: remove;
		color: $brand2;
	}
	&-add {
		grid-area: add;
		color: $brand2;
	}
	&-confirm {
		grid-area: confirm;
		color: $brand2;
		margin: 0.5rem;
	}
	
	&-load {
		background-color: $brand1;
		background-image: linear-gradient($brand1, $brand2);
		font-family: monospace;
		color: #fff;
	}

	&-popup {
		position: fixed;
		top: 0;
		width: 100%;
		background-color: $fail;
		color: #fff;
	}
}
