@import '../../variables.scss';

.footer {
	grid-area: footer;
	background-color: $brand1;
	border-radius: 50% 50% 0 0 / 10% 10% 0 0;

	&__copyright {
		margin: 0.5rem;
		color: $light;
		text-align: center;
		font-size: smaller;
	}
}
