.spinner {
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	
	&-text {
		animation-name: spin;
		animation-duration: 1250ms;
		animation-iteration-count: infinite;
		animation-timing-function: ease-in-out;
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	
	100% {
		transform: rotate(360deg);
	}
}
