@import '../../variables.scss';

.home {
	grid-area: main;
	background-color: $light;
	color: $dark;
	padding: 0.5rem;

	&__title {
		text-align: center;
	}

	&__list-item {
		margin: 0.5rem 0;
		padding: 0.25rem;
		text-align: center;
		background-color: #fff;
		border: 1px solid #000;
	}
}
