@import '../variables.scss';

.menu {
	&__title {
		text-align: center;
	}

	&__section {
		margin: 1rem;
		padding-bottom: 1.5rem;
		display: flex;
		flex-wrap: wrap;

		background: #fff;
		box-shadow: 3px 3px 5px 6px #ccc;

		&-title {
			margin: 0.5rem;
			text-align: center;
			flex-basis: 100%;
		}
	}

	&__item {
		display: grid;
		width: 100%;
		margin: 0.5rem;
		padding-top: 0.75rem;
		border-top: 1px solid #ddd;

		grid-template-columns: 1fr auto auto;
		grid-template-areas:
			"name price button "
			"desc desc desc";

		&-name {
			grid-area: name;
			margin: 0.25rem;
		}
		&-price {
			grid-area: price;
			margin: auto 0.25rem;
			font-size: smaller;
		}
		&-add {
			grid-area: button;
			margin: auto 0.25rem;
			color: $brand2;
		}
		&-description {
			grid-area: desc;
			margin: auto 0.25rem;
			font-size: smaller;
		}
	}
}
