.App {
	min-height: 100vh;
	display: grid;
	grid-template-rows: auto auto 1fr auto;
	grid-template-areas:
		"header"
		"nav"
		"main"
		"footer";
}

#header {
	grid-area: header;
}

#nav {
	grid-area: nav;
}

#home {
	grid-area: main;
}
#menu {
	grid-area: main;
}
#find-us {
	grid-area: main;
}

#footer {
	grid-area: footer;
}

#testing {
	grid-area: main;
	align-self: end;
}