@import '../../variables.scss';

.add-menu {
	display: grid;
	grid-template-rows: 0.5fr auto auto 0.5fr auto auto 1fr 0.5fr;
	grid-gap: 0.5rem;
	grid-template-areas:
		"."
		"name"
		"desc"
		"."
		"button"
		"text"
		"popup"
		".";

	&--flex {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&-text {
		grid-area: text;
		text-align: center;
		font-weight: bold;
		margin: auto;
	}

	&-icon {
		grid-area: button;
		text-align: center;
		font-size: 3rem;
		color: $brand2;
		margin: auto;
	}

	&-not-found {
		text-align: center;
	}

	&-name {
		grid-area: name;
		text-align: center;
		font-family: 'Open sans', sans-serif;
		font-size: large;
		font-weight: bold;
	}
	
	&-description {
		grid-area: desc;
		text-align: center;
		font-family: 'Open sans', sans-serif;
	}
	
	&-popup {
		grid-area: popup; 
	}
}
